<mat-nav-list>
  <a class="button" mat-list-item (click)="openLink($event, 'https://web.whatsapp.com/')">
    <span matListItemTitle><img class="image_redes" src="../../../assets/images/redes/whatsapp.png"></span>
    <a matLine>+55 (47) 94321-1234</a>
  </a>

  <a class="button" mat-list-item (click)="openLink($event, 'https://instagram.com/')">
    <span matListItemTitle><img class="image_redes" src="../../../assets/images/redes/instagram.png"></span>
    <span matLine>@Eventos</span>
  </a>

  <a class="button" mat-list-item (click)="openLink($event, 'https://facebook.com/')">
    <span matListItemTitle><img class="image_redes" src="../../../assets/images/redes/facebook.png"></span>
    <span matLine>Site de eventos</span>
  </a>

  <a class="button" mat-list-item (click)="openLink($event, 'https://gmail.com/')">
    <span matListItemTitle><mat-icon>mail</mat-icon></span>
    <span matLine>eventos@email.com</span>
  </a>
</mat-nav-list>
